<div class="hero-unit">
  <h1>Keep track of your leads</h1>
  <p>Never again drop the ball with your follow ups.</p>
  <p>
    <%= link_to "Get Started Now! It's FREE", new_user_registration_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>