// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
small, small a {
  color: #999;
}

#tag_cloud {
  line-height: 1.6em;
  text-align: right;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.show-lead {
  padding-right: 50px;
}

tr.lead {
  font-size: 1.0em;
}