<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <small class="navbar-text">Wire World Media (c) 2012</small>
      <small class="navbar-text pull-right">LeadFeed (v0.0.6)</small>
    </div>
  </div>
</div>
